
body {
    margin: auto;
    max-width: 720px;
}

h1 {
    margin-top: 30px;
    text-align: center;
}

p {
    display: inline-block;
}

#target {
    margin: auto;
    padding-bottom: 40px;
    max-width: 500px;
    text-align: center;
}

#squares {
    width: 100%;

}
p{
	font-family: Comic Sans MS;
}

.color-square {
    margin: 10px auto;
    border: solid black 1px;
    box-shadow: #DDD 4px 4px;
}

#score {
    font-weight: bold;
}

#score::before {
    content: "Total Score: ";
}

#last-score::before {
    content: "Last Round: ";
}

.color-slider {
    margin-top: 15px;
    margin-bottom: 20px;
}

